*{
    margin: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #121212;
}

.main nav img{
    width: 100px;
}

.login-form form img{
    width: 25px;
    position: absolute;
    top: 153px;
    right: 45px;
    margin-top: 5px;
    z-index: 11;
    background-color: white;
}
#show{
    width: 25px;
    position: absolute;
    top: 105px;
    right: 45px;
    margin-top: 5px;
    z-index: 11;
    background-color: white;
}
.login-form form{
    background-color: #3131317a;
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid #97fb57;
    border-radius: 5px;
    position: relative;
    top: 15vh;
    padding-top: 20px;
    padding-bottom: 20px;
}
.login-text{
    color: #fff;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 1.5rem;
}
.dont-have-account{
    display: flex;
    font-size: 0.875rem;
    margin-right: auto;
    margin-left: 11%;
    margin-top: 7px;
    color: #fff;
}
.dont-have-account a{
    color: #97fb57;
}
#username,#password,#password1{
    width: 270px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 13px;
    border: none;
    text-indent: 10px;
}
#username:focus{
    outline: none;
    outline: 1px solid #97fb57;
}
#password:focus,#password1:focus{
    outline: none;
    outline: 1px solid #97fb57;
}

#password,#password1{
    width: 270px;

}

#submit{
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #97fb57;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-image: linear-gradient(to bottom right, #121212 , #12121286);
    color: #fff;
}
.registration-message{
    color: #97fb57;
    text-align: left;
    margin-left: 0;
}
.forget-password-item{
    color: #97fb57;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 0.8rem;
    margin-top: -5px;
}
.forget-password-item a{
    text-decoration: none;
    color: #97fb57;
}
.forget-password{
    color: #97fb57;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 0.8rem;
    margin-top: 0px;
}
