<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/404.css">

    <title>Admin - 404</title>
</head>
<body>
    <%- include('../layouts/header') %>
    <div class="main-text">
        <img src="/public/assets/images/HTML-404-Error-Page.svg" alt="">
        <div class="text-large">404</div>
    <h1 style="color: aqua;">
        <%= message  %>
    </h1>
    </div>
    <%- include('../layouts/admin_footer') %>
</body>
</html>