<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href=/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Admin - Change Password</title>
</head>
<body>
    <%- include('../layouts/admin_header') %>
    <div class="container"></div>
        <div class="login-form" style="height: 55vh">
            <form action="" method="post">
                <div class="login-text">Change Password</div>
                <label for="">                    
                    <input type="password" placeholder="Old Password" id="password" name="oldPassword" required>
                    <img src="/public/assets/images/eye.svg" alt="" id="show" >
                </label>
                <label for="" id="label-password"> 
                    <input type="password" placeholder="New Passowrd" id="password1" name="newPassword" required>
                    <img src="/public/assets/images/eye.svg" alt="" id="show1">
                </label>
                
                <input type="submit" id="submit">
                <div class="forget-message">
                    <% if (typeof message !== 'undefined') {
                        %>
                            <h4 style="color: white;"><%= message %></h4>
                        <%
                    }  %>
                </div>
            </form>
        </div>
    </div>
    <%- include('../layouts/admin_footer') %>

    <script src="/public/javascript/login.js"></script>
</body>
</html>