<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <title>Admin - Forgot Passowrd</title>
</head>

<body>
    <%- include('../layouts/header') %>

        <div class="container">
            <div class="login-form">
                <form action="" method="post">
                    <div class="login-text">Forgot Password</div>
                    <label for="">                    
                        <input type="password" placeholder="New Password" id="username" name="password" required>
                    </label>
                    <label for="">                    
                        <input type="hidden" name="user_id" value="<%= user_id %>">                        
                    </label>
                    <input type="submit" id="submit">
                    <% if (typeof message !== 'undefined') {
                        %>
                            <h4 style="color: white;"><%= message %></h4>
                        <%
                    }  %>
                </form>
            </div>
        </div>
    </div>
    <script src="/public/javascript/login.js"></script>
</body>

</html>