<nav class="nav">
    <img src="/public/assets/images/1048852.svg" alt="">
    <div class="nav-items">
        <a href="/index">Home</a>
        <a href="/membership">Memberships</a>
        <a href="/products">Products</a>
        <a href="">Training programs</a>
    </div>
    <input type="checkbox" class="three-lines-checkbox">
    <div class="three-lines">
        <div class="first-line"></div>
        <div class="second-line"></div>
        <div class="third-line"></div>
    </div>

<div class="dropdown">
    <div class="nav-dropdown-items">
        <a href="/index">Home</a>
        <a href="/membership">Memberships</a>
        <a href="/products">Products</a>
        <a href="#">Training programs</a>
    </div>
</div>
</nav>