<footer>
    <img src="/public/assets/images/1048852.svg" alt="">
    <div style="font-size: 1.125rem; font-weight: 700;">NAVIGATION</div>
    <div class="footer-links">
        <div style="display: flex; gap: 20px;justify-content: center;margin-bottom: 10px;">
            <a href="/admin/home">Home</a>
            <a href="/admin/dashboard">Admin Dashboard</a>
            <a href="/admin/profile">Profile</a>
        </div>
        <div style="display: flex; gap: 20px;justify-content: center;"><a href="/admin/selling-application">Seller Application</a>
        </div>
    </div>
    <div style="font-size: 0.875rem;">
        Copyright 2024 | Web Works
    </div>
</footer>