<nav class="nav">
    <img src="/public/assets/images/1048852.svg" alt="">
    <div class="nav-items">
        <a href="/index">Home</a>
        <a href="/membership">Memberships</a>
        <a href="/products">Products</a>
        <a href="/apply">Apply For Selling</a>
        <div>
            <a href="/login"><button class="nav-btn">Log In</button></a>
            <div></div>
            <a href="/signup"><button class="nav-btn">Sign Up</button></a>
        </div>
    </div>
    <input type="checkbox" class="three-lines-checkbox">
    <div class="three-lines">
        <div class="first-line"></div>
        <div class="second-line"></div>
        <div class="third-line"></div>
    </div>

<div class="dropdown">
    <div class="nav-dropdown-items">
        <a href="/index">Home</a>
        <a href="/membership">Memberships</a>
        <a href="/products">Products</a>
        <a href="/apply">Apply For Selling</a>
        <div class="nav-login-signup">
            <a href="/login"><button class="nav-btn">Log In</button></a>
            <div></div>
            <a href="/signup"><button class="nav-btn">Sign Up</button></a>
        </div>
    </div>
</div>
</nav>